<main class="top">

<div class="top-subject">ようこそ Bookers へ！</div><br><br>

  <div class="top-text">

  <b>Bookers</b>では、さまざまな書籍に関するあなたの意見や<br><br><br>

  印象を共有し交換することができます<br><br><br>

  <%=link_to "Start",books_path %>

  </div>

</main>
