/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:link {
color: black;
text-decoration: underline;
}

a:visited {
color: gray;
text-decoration: underline;
}

header {
	padding-left: 30px;
	padding-top: 28px;
	font-weight: bold;
	font-size: 27px;
}

.top {
  padding-left: 30px;
  padding-top:  22px;
  font-family: sans-serif;
}

.top-subject {
  font-size:27px ;
  font-weight: bold;
}

.top-text {
  padding-left: 37px;
  font-size: 14px;
}

.alert {
	padding-top: 30px;
	padding-left: 40px;
	color: green;
}
.error {
	color: red;
	padding-bottom:10px;
	font-size: 16px ;
	line-height: 28px;
}
.link {
	padding-left: 30px;
	line-height: 50px;
	font-size: 15px;
}

.index {
	padding-left: 25px;
	padding-top: 10px;
}
.table {
	border-collapse: separate;
	border-spacing: 12px 10px;
}
.show {
	padding-left: 60px;
	padding-top: 15px;
	line-height: 50px;
	font-size: 14px
}

.edit {
	padding-left: 35px;
	padding-top:25px;
	font-size: 15px
}

.new {
	padding-top: 20px;
	padding-left: 10px;
	font-size: 15px;
}